:root {
  --gray: #524f4f;
  --red: crimson;
  --right_answer: #12bb74;
  --wrong_answer: #ff1201;
  --smoke_white: #b4bfc7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--smoke_white);
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
}
.controller::before {
    content: '||';
    border: none;
    background:none;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--gray);
}

.nav > div:not(last-child) {
    border-right: 1px solid var(--gray);
    padding-right: 2.25rem;
    padding-left: 1.25rem;
}

.nav > div:last-child {
    padding-right: 1rem;
    border:none;
}

